
:root{
  --bg_round:rgb(194, 222, 220);
  --pri_text: #262525;
  --sec_text:rgb(17, 106, 123);
  --acc : rgb(236, 229, 199);
  --border: #251c1c;
  --bg_form:rgb(205, 194, 174);
  
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


